`<h1 mat-dialog-title>Add New Project</h1>
<div mat-dialog-content>
  <p>Enter Your project name</p>
  <mat-form-field>
    <input matInput required tabindex="1" [(ngModel)]="data.projectname">
  </mat-form-field>
  <p>Enter Your project links</p>
  <button (click)="add_link()" mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon> Add More Links
    </button>
  
  <mat-form-field *ngFor="let link of data.links;let index = index;trackBy:getIndex;">
    <mat-grid-list cols="5" rowHeight="30px">
        <mat-grid-tile  colspan="4">
            <input matInput required type="url" [(ngModel)]="data.links[index]" >
        </mat-grid-tile>
        <mat-grid-tile  colspan="1">
            <button (click)="remove_link(link)" mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">highlight_off</mat-icon>
            </button>
        </mat-grid-tile>
      </mat-grid-list>

  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!formisvalid()" tabindex="2">Add Project</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>`