<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
 <div fxFlex.gt-sm="100%">
  <mat-card>
   <mat-card-content>
    <mat-card-title>{{ project.name }}</mat-card-title>
    <mat-card-subtitle
     >These are the saved links in this project. Click on a link to
     navigate.</mat-card-subtitle
    >
    <br />
    <div class="d-flex no-blcok" *ngFor="let link of this.project.links">
     <div class="p-b-20 b-b m-b-30">
      <a href="{{ link }}" target="_blank" class="m-0 blacklink txt-center">{{link}}
      
       <mat-icon aria-label="project">launch</mat-icon>
    
      </a>
     </div>
    </div>
   </mat-card-content>
  </mat-card>
 </div>
</div>
