<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
		<div fxFlex.gt-sm="100%" >
				<mat-card>
						<mat-card-content>
							<mat-card-title>List Of Saved Projects</mat-card-title>
							<mat-card-subtitle>This is a list of saved projects. Click on a project to view its details.</mat-card-subtitle>
                            <br/>
                            <ng-container *ngIf="this.projects.length != 0">
							<div class="d-flex no-blcok"  *ngFor="let project of this.projects">
                                <div class="m-r-20">
                                    <mat-icon aria-label="project">track_changes</mat-icon>
                                   </div>
                                   <div class="p-b-20 b-b m-b-30">
                                    <a [routerLink]="['/project/', project.id]" class="m-0 blacklink"
                                     >{{ project.name }}
                                     <small class="text-muted"> - {{ project.links.length }} links</small>
                                    </a>
                                   </div>
                              </div>
                            </ng-container>
                              <ng-container *ngIf="this.projects.length == 0">
                                <div>
                                   </div>
                                   <br /><br />
                                   No saved projects found! 
                                   <br /><br />
                              
                              </ng-container>
                             
				
						</mat-card-content>        
				</mat-card>
		</div>
</div>
