/* You can add global styles to this file, and also import other style files */
mat-grid-tile {
    background: lightgrey;
  }
  mat-icon.bigcard
  {
    transform: scale(5);
  }
  .red
  {
      color:red;
  }
  .blacklink
  {
      color:black;
  
  }
  .blacklink:hover
  {
      color:blue;
  }
