<div fxLayout="row wrap">
 <div class="d-flex no-blcok">
  <div class="p-b-20 b-b m-b-30">
   <h4 class="m-0">Welcome to My Project Management System</h4>
   <p class="text-muted">
    You can choose to go to your existing projects, or create a new one. You can
    do the same by using the side bar too!
   </p>
  </div>
 </div>
 <!-- Card column -->
 <div fxFlex.gt-lg="50" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card class="oh text-center little-profile">
   <br /><br />
   <mat-card-title>New Project</mat-card-title> <br /><br />
   <mat-card-content>
    <div>
     <mat-icon class="bigcard" aria-label="Add A Project"
      >add_to_queue</mat-icon
     >
    </div>
    <br /><br /><br /><br />
    <mat-card-actions>
     <button (click)="openDialog()" mat-raised-button color="primary">
      Add New Project
     </button>
    </mat-card-actions>
   </mat-card-content>
  </mat-card>
 </div>
 <!-- Card column -->
 <!-- Card column -->
 <div fxFlex.gt-lg="50" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card class="oh text-center little-profile">
   <br /><br />
   <mat-card-title>Go To Existing Projects</mat-card-title> <br /><br />

   <mat-card-content *ngIf="this.projects.length != 0">
    <div class="d-flex no-blcok" *ngFor="let project of this.projects">
     <div class="m-r-20">
      <mat-icon aria-label="project">track_changes</mat-icon>
     </div>
     <div class="p-b-20 b-b m-b-30">
      <a [routerLink]="['/project/', project.id]" class="m-0 blacklink"
       >{{ project.name }}
       <small class="text-muted"> - {{ project.links.length }} links</small>
      </a>
     </div>
    </div>
   </mat-card-content>
   <mat-card-content *ngIf="this.projects.length == 0">
    <div>
     <mat-icon class="bigcard red" aria-label="Add A Project"
      >error_outline</mat-icon
     >
    </div>
    <br /><br /><br /><br />
    No saved projects found! </mat-card-content
   ><br />
  </mat-card>
 </div>
</div>
